{%- assign nodes = include.html | split: '<h1' -%}
{%- for node in nodes -%}
  {%- if node contains '</h1>' -%}
    {%- assign header_content_array = node | split: '>' -%}
    {%- assign header = header_content_array[1] -%}
    {%- assign header_content_array = header | split: '</h1' -%}
    {%- assign header = header_content_array[0] -%}
    {%- capture cont_acc -%}{{ cont_acc }}<a name='{{ header }}'></a><h1{{ node }}{%- endcapture -%}
  {%- else -%}
    {%- capture cont_acc -%}{{ cont_acc }}{{ node }}{%- endcapture -%}
  {%- endif -%}
{%- endfor -%}
{%- assign cont = cont_acc -%}
{%- assign cont_acc = '' -%}

{%- assign nodes = cont | split: '<h2' -%}
{%- for node in nodes -%}
  {%- if node contains '</h2>' -%}
    {%- assign header_content_array = node | split: '>' -%}
    {%- assign header = header_content_array[1] -%}
    {%- assign header_content_array = header | split: '</h2' -%}
    {%- assign header = header_content_array[0] -%}
    {%- capture cont_acc -%}{{ cont_acc }}<a name='{{ header }}'></a><h2{{ node }}{%- endcapture -%}
  {%- else -%}
    {%- capture cont_acc -%}{{ cont_acc }}{{ node }}{%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{%- assign cont = cont_acc -%}
