<header class="site-header" role="banner">
<div id ='header-wrapper' class="wrapper">


  <a class='site-title' href="{{ "/" | relative_url}}">
      <img id='site-icon' src="{{site.baseurl}}/assets/gray.png"">
      <div class='site-title-text'>{{ site.title | escape }}</div></a>



    <div class="normal">
      <nav class="float-right header-lh">
      <a class="page-link" href="{{site.baseurl}}/about">前额叶</a>
      <a class="page-link" href="{{site.baseurl}}/hippocampus">海马体</a>
      <a class="page-link" href="{{site.baseurl}}/dentgyr">齿状回</a>
      </nav>
    </div>

  <div class="mobile">
  <nav class="float-right header-lh">
  <div class="header-button" onclick="toggle_hd()"><div class="bar-div"></div><div class="bar-div"></div><div class="bar-div"></div></div>
  </nav>
  <div class="header-menu" id="hd-menu">
    <nav class="header-lh">
   <a class="page-link" href="{{site.baseurl}}/about">前额叶</a>
   <a class="page-link" href="{{site.baseurl}}/hippocampus">海马体</a>
   <a class="page-link" href="{{site.baseurl}}/dentgyr">齿状回</a>
   </nav>
  </div>
  </div>
</div>

  <script>
    function toggle_hd()
    {
    var menu = document.getElementById('hd-menu');
    var title = document.getElementById('hd-menu');
       if (menu.style.maxHeight === '200px') {
           menu.style.maxHeight = '0';
       } else {
           menu.style.maxHeight = '200px';
       }
    }
</script>
</header>
