<header class="site-header" role="banner">
<div class="wrapper">
    <a class="site-title" style='color: whitesmoke;' href="{{ "/" | relative_url}}">
      <img id='site-icon' src="{{site.baseurl}}/assets/gray.png"">
      {{ site.title | escape }}</a>

    <nav class="navigation">
    <div class="normal">

      <a class="page-link" href="{{site.baseurl}}/about">前额叶</a>
      <a class="page-link" href="{{site.baseurl}}/hippocampus">海马体</a>
      <a class="page-link" href="{{site.baseurl}}/dentgyr">齿状回</a>
    </div>

  <div class="mobile">
    <div class ='header-mobile'>
    <div>
      <div class="header-button" onclick="toggle_hd()"><div class="bar-div"></div><div class="bar-div"></div><div class="bar-div"></div></div>
	     <ul id="hd-menu" class="header-menu">
        <li><a class="page-link" href="{{site.baseurl}}/about">前额叶</a></li>
        <li><a class="page-link" href="{{site.baseurl}}/hippocampus">海马体</a></li>
        <li><a class="page-link" href="{{site.baseurl}}/dentgyr">齿状回</a></li>
	    </ul>
    </div>
	</div>
  </div>
</nav>

  </div>

  <script>
function toggle_hd()
{
var menu=document.getElementById('hd-menu');

   if (menu.style.display === 'block') {
       menu.style.display = 'none';
   } else {
       menu.style.display = 'block';
   }
}
</script>
</header>
