{%- assign cont_acc = '' -%}
{%- assign modal_acc = '' -%}
{%- assign nodes = include.html | split: '<img' -%}
{%- assign index = 1 -%}
{%- for node in nodes -%}
  {%- if node contains 'data-src' -%}
    {%- assign node_split_at_src = node | split: 'data-src="' -%}
    {%- assign class_array = " class='lazyload' " -%}
    {%- if node_split_at_src[0] contains 'class="' -%}
      {%- if node_split_at_src[0] contains 'lazyload' -%}
      {%- else -%}
        {%- assign class_array = node_split_at_src[0] | split: 'class="' -%}
        {%- assign class_array = class_array | join:'class="lazyload ' -%}
      {%- endif -%}
    {%- endif -%}
    {%- assign image_url = node_split_at_src[1] | split: '"' -%}
    {%- assign rest_of_the_node = node_split_at_src | shift | join: 'data-src="' | split: '/>' -%}
    {%- capture cont_acc -%}{{ cont_acc }}
    <a name='img-{{index}}'></a>
    <a href="{{ image_url[0] }}" class="glightbox"><img{{ class_array }}data-src="{{ rest_of_the_node[0] }}></a>
    {{ rest_of_the_node | shift | join:'/>' }}
    {%- endcapture -%}
    {%- assign index = index | plus: 1 -%}
  {%- else -%}
    {%- capture cont_acc -%}{{ cont_acc }}{{ node }}{%- endcapture -%}
  {%- endif -%}
{%- endfor -%}

{%- assign cont = cont_acc -%}
