      {% if page_number == 1 %}

      {% elsif page_number == 2 %}
        <div class='page-block'><a href="{{ site.baseurl }}{{ parent_post.url }}"><span class='arrow left'></span></a></div>
      {% else %}
        <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{collection_name}}/{{ page_number | minus: 1}}"><span class='arrow left'></span></a></div>
      {% endif %}
      {% if start > 1 %}
        <div class='page-block'><a href="{{ site.baseurl }}{{ parent_post.url }}">1</a></div>
        <div class='fixed'><div class='no-color'>&middot;&middot;&middot;</div></div>
      {% endif %}

      {% for p in (start..end) %}
        {% if p == page_number %}
            <div class="fixed"><div class='fixed-text'>{{ p }}</div></div>
        {% elsif p == 1 %}
            <div class='page-block'><a href="{{ site.baseurl }}{{ parent_post.url }}">{{ p }}</a></div>
        {% else %}
            <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{collection_name}}/{{ p }}">{{ p }}</a></div>
        {% endif %}
      {% endfor %}

      {% if end < total_number_pages %}
        <div class='fixed'><div class='no-color'>&middot;&middot;&middot;</div></div>
        <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{collection_name}}/{{ total_number_pages }}">{{ total_number_pages }}</a></div>
      {% endif %}

      {% if page_number < total_number_pages %}
        <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{collection_name}}/{{ page_number | plus: 1}}"><span class='arrow right'></span></a></div>
      {% endif %}
