{% capture thm_workspace %}
    {% assign nodes = include.html | split: '<section class="theorem-macro">' %}
    {% assign counter = 1 %}
    {% for node in nodes %}
      {% if node contains '<div class="theorem">' %}
      {% else %}
        {% capture cont_acc %}{{ node }}{% endcapture %}
        {% continue %}
      {% endif %}

        {% assign thm_content_array = node | split: '<div class="theorem">' %}
        {% assign between_macro_and_theorem = thm_content_array[0] %}
        {% assign thm_content_array = thm_content_array[1] %}

        {% assign thm_content_array = thm_content_array | split: '<div class="proof">' %}
        {% assign theorem = thm_content_array[0] %}
        {% assign the_rest = thm_content_array[1] %}

        {% capture cont_acc %}
        {{ cont_acc }}
        <section class="theorem-macro">
          <input type="checkbox" name="collapse" id="handle{{ counter }}">
          {{ between_macro_and_theorem }}
          <div class="theorem">
          {{ theorem }}
          <label class="handle" for="handle{{ counter }}"></label>
          <div class="proof">
          {{ the_rest }}
        {% endcapture %}
        {% assign counter = counter | plus: 1 %}
    {% endfor %}
    {% endcapture %}
{% assign thm_workspace = '' %}
{% assign cont = cont_acc %}
