			 <script>
			 function toggle_nav()
			 {
			 var trigger =document.getElementById('trigger');
			 var side_bar=document.getElementById('side-bar');
				if (trigger.style.opacity == 0.50) {
 			 				 	side_bar.style.transform = 'translateX(-105%)';
 			 					trigger.style.opacity = 0.75;
 			 			} else {
								side_bar.style.transform = 'translateX(0px)';
 			 					trigger.style.opacity = 0.50;
 			 			}
		}

		function toggle_nav_mobile()
		{
		var trigger =document.getElementById('trigger-mobile');
		var side_bar=document.getElementById('side-bar-mobile');
		if (trigger.style.opacity == 0.50) {
			side_bar.style.transform = 'translateY(100%)';
			trigger.style.opacity = 0.75;
     } else {
			side_bar.style.transform = 'translateY(0px)';
			trigger.style.opacity = 0.50;
		}
 }
</script>
