{% capture toc_temp %}
    {% assign nodes = include.html | split: '<h' %}
    {% for node in nodes %}
        {% assign headerLevel = node | replace: '"', '' | slice: 0 | plus: 0 %}
        {% if headerLevel == 1 %}
          {% assign left_group = 'toch1' %}
        {% elsif headerLevel == 2 %}
          {% assign left_group = 'toch2' %}
        {% else %}
         {% continue %}
        {% endif %}
        {% assign header_content_array = node | split: '>' %}
        {% assign header = header_content_array[1] %}
        {% assign header_content_array = header | split: '</h' %}
        {% assign header = header_content_array[0] %}
        {% capture toc_acc %}{{ toc_acc }}<div class='toc-pad'><a class='{{ left_group }}' href='#{{ header }}'> {{ header }} </a></div>{% endcapture %}
    {% endfor %}
    {% endcapture %}
{% assign toc_temp = '' %}
<div class='side-bar' id = 'tgMenu'>
	<div id="toc">{{ toc_acc }}
	</div>
</div>
		<div class="dropdown">
			<button class="dropdown-button" id="tg-button" onclick="toggle_nav()">
			<div class='bar-div'></div>
			<div class='bar-div'></div>
			<div class='bar-div'></div>
		</button>
		</div>
