---
---
@import "variables";

body, h1, h2, h3, h4, h5, h6,
p, ol, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol %vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

ul, ol {
  margin-left: $spacing-unit / 2;
  margin-top: $main-size / 2;
  margin-bottom: $main-size;
}

ol li {
	padding-left: 0.5em;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


p {
  margin-bottom: $main-size * 1.5;
}

html {
	position: relative;
	min-height: 100%;
	overflow-y: scroll;
	background-color: $bg-col;
	font-family: $default-font-sans;
}


.signature {
	color: $demph-col;
	font-family: $default-font-serif;
}


body {
	margin: 0;
	padding: 0;
	counter-reset: h1counter;
	display: block;
	margin-bottom: 7em;
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $default-font-sans;
	color: $tx-col;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	color: $tx-col;
	font-size: 0.9em;
	counter-reset: definition;
	counter-reset: theorem;
	counter-reset: lemma;
	counter-reset: axiom;
	counter-reset: figcounter;
	background-color: transparent;
	font-family: $default-font-sans;
}


a {
  transition: 0.3s;
  text-decoration: none;
}

.page-heading-nav, .page-link, .prev-next-button,.control-aid a {
	color:$ctr-col;
	&:hover {
		color: $hl-col;
	}
	&:link{
	  color:$ctr-col;
	}
	&:visited{
	  color:$ctr-col;
	}
  &:visited:hover{
    color: $hl-col;
  }
}

.post-text {
	line-height: 165%;
	text-indent: 0px;
	font-size: 12pt;
	letter-spacing: 0.005em;
	font-family: $default-font-serif;
	font-weight: 200;
	color: $tx-col;
}

.post-text a {
	color: $lk-col;
	&:visited{
	  color: $lk-vst-col;
	}

}

@media (hover: hover) {

  .post-text a {
    &:hover{
      text-decoration: none;
      color:$lk-hov-col;
    }
    &:visited:hover{
      color:$lk-hov-col;
    }
  }
}



.wrapper {
  position: relative;
	max-width: -webkit-calc(800px - 30px * 2);
	max-width: calc(800px - 30px * 2);
	margin-right: auto;
	margin-left: auto;
	padding-right: $spacing-unit/2;
	padding-left: $spacing-unit/2;
	min-height: 100%;
	font-family: $default-font-sans;
	color: white;
	@extend %clearfix;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}


#site-icon{
	position: relative;
	left: 0;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	display: inline-block;
}

.site-title {
	float: left;
	line-height: 56px;
}

.site-title-text {
	color: $tx-col;
	color: $tx-col;
	font-family: $default-font-sans;
	font-weight: $normal-weight;
	display: inline-block;
	vertical-align: middle;
  font-size: 1.5em;
  letter-spacing: -1px;
}


.no-indent {
	text-indent: 0em;
}

.clear {
	clear:both;
}
.small-side-margin {
	margin-left: 7px;
	margin-right: 7px;
}

.very-small-side-margin {
	margin-left: 3px;
	margin-right: 3px;
}

.no-top-margin {
	margin-top: $spacing-unit/6;
}

.small-top-margin {
	margin-top: $spacing-unit/3;
}

.medium-top-margin {
	margin-top: $spacing-unit/2;
}

.large-top-margin {
	margin-top: $spacing-unit;
}

.very-large-top-margin {
	margin-top: $spacing-unit * 5/3;
}


.no-bottom-margin {
	margin-bottom: $spacing-unit/6;
}

.small-bottom-margin {
	margin-bottom: $spacing-unit/3;
}

.medium-bottom-margin {
	margin-bottom: $spacing-unit/2;
}


.large-bottom-margin {
	margin-bottom: $spacing-unit;
}

.very-large-bottom-margin {
	margin-bottom: $spacing-unit*5/3;
}



/* for multipage */
.top-paging{
		margin-bottom: 2em;
		font-size: 0.8em;
}

.multipage{
	margin-bottom: 0.5em;
}

.accent-font {
	font-weight: bolder;
}

.small-font {
	font-size: 13pt;
}

.medium-font {
	font-size: 14pt;
}

.large-font {
	font-size: 15pt;
}

.botton-margin {
		margin-left: 2px;
		margin-right: 2px;
}
.large-botton-margin {
		margin-left: 10px;
		margin-right: 10px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.flex {
	display:flex;
}
