---
---
@charset "utf-8";
@import "minima";
html{
	position:relative; 
	min-height:100%;
	overflow-y:scroll;
}

body {
	margin-top:3.5em;
	counter-reset: h1counter;
	margin-bottom:12em;
	-webkit-font-smoothing:antialiased;
	}
		
@font-face {
  font-family: serifRoman;
  src: local('Times New Roman');
  unicode-range: U+0020-201B,U+201E-FFFF;
}

.site-header
{
	position:absolute;
    top:0;
	height:3em;
	border-top: 3px solid #227c41;
    width: 100%;
}

a:hover {
    color: #227c41;
	text-decoration: none;
}

.site-footer
{		
	position: absolute;
	border-top: 0px;
	bottom:0;
	min-height: 1em;
	width: 100%;
	margin-top:4em;
	background:rgb(245,245,245);
}


/** article page content */
.post-list {
line-height:175%;
}

.post-list-title{
	font-size: 2em;
}



.post-meta { 
	font-size: 0.8em; 
	font-family: Arial,'Microsoft YaHei',"微软雅黑", 'STXihei', "华文细黑";
	color: #828282; 
}

.page-heading { font-size: 2.1em; color: #828282;}


.post-header { 
margin-bottom: 30px; 
				line-height: 300%;}

.post-title
{
font-family:"SimHei";
font-size: 2.5em;
}
  


  
.maintext{line-height: 165%;}
	    
	  
p{
	text-indent: 2em;
}

i{
	font-family:'Times New Roman';
	font-style: italic;	
}

#btn{
	display:block;
	width:100px; 
	margin:0 auto;
	margin-top:4em;
	padding:10px 20px;
	background-color: #227c41;
	color: white;
}
#btn:hover {
    background-color:#1a5d31;
}

.maintext a:hover {
    color: #227c41;
	text-decoration: underline;
}

.maintext ul{
	list-style-type: none;
}

.maintext ul li{
	text-indent:-1.5em;
	margin-bottom:0.25em;
}

.maintext li::before {
  content: "•";
  font-size:1.25em;
  padding-right: 0.85em;
}

.maintext ul ul{
	list-style-type: none;
}

.maintext ul ul li::before {
  content: "◦";
  font-size:1.25em;
  padding-right: 0.8em;
}

h1 {
	font-size: 1.6em;
	counter-reset: h2counter;
	margin-top:1.4em;
	margin-bottom:1em;
}

h1:nth-child(2)
{
	margin-top:0em;
}

h2{
	font-size: 1.3em;
	margin-top:1.4em;
}

 h1:before {
        content: counter(h1counter) ".\0000a0\0000a0";
        counter-increment: h1counter;
    }
 h2:before {
        counter-increment: h2counter;
		content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0"; 

   }


.table-of-contents{
	font-weight:300;
	position:fixed;
	top:8em;
	left:2.5em;
	width:7em;
	counter-reset: toch1counter;
	padding:1.2em;
	background:rgb(245,245,245);
	padding-top:0.5em;
	border-top: 3px solid #227c41;
}

.toch1{
	font-size: 0.8em;
	counter-reset: toch2counter;
}
.toch2{
	font-size: 0.7em;
}
  
   
.toch1:before {
		content: counter(toch1counter) ".\0000a0\0000a0";
        counter-increment: toch1counter;
    }
.toch2:before {
        counter-increment: toch2counter;
		content: counter(toch1counter) "." counter(toch2counter) ".\0000a0\0000a0"; 
   }

.notes{
	font-size:0.8em;
	padding:1em;
	line-height:145%;
	background:rgb(248,248,248);
	text-indent:0em;
}	

.note-tag{
	font-size:0.6em;
	padding-left:0.2em;
	color:gray;
}


.paradigm{
	font-family:serifRoman,'KaiTi','BiauKai','Microsoft YaHei',"微软雅黑", 'STXihei', "华文细黑";
	margin-top:1em;
	margin-bottom:1em;
	color:black;
}


.paradigm ul li{
	text-indent:0;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top:0.6em;
	padding-bottom:0.6em;
	display: inline-block;
	text-align: center;
	background-color:#f6f6f6;
}
.paradigm ul li:nth-child(odd) {
    background-color: #eaeaea;
}

.suffixt {
	text-align: left;
	text-indent: 2em;
	margin-top:1em;
	margin-bottom:1em;
}
.suffixt tr:nth-child(odd){
	text-indent:1em;
	font-family:Arial,'SimHei','BiauKai','Microsoft YaHei',"微软雅黑", 'STXihei', "华文细黑";
	font-size:1.05em;
}

.suffixt tr:nth-child(odd) td{
    padding-top:1em;
	padding-bottom:0.2em;
	
}

.suffixt tr:nth-child(even) td{
	border-bottom:2px;
}


.paradigm ul li::before {
  content: "";
  padding-right: 0;
}
   
   
   
.footer-box   
{
	margin-right: auto; 
	text-align: justify;
	margin-left: auto;
	color:#828282;
	font-size:0.9em;
	font-family: 'Microsoft YaHei',"微软雅黑", 'STXihei', "华文细黑";
} 


.dropdown {
    display: inline-block;
	font-weight:300;
	counter-reset: toch1counter;
	position:fixed;
	top:8em;
	left:5%;
}

.dropbtn {
    background-color: #227c41;
	color: white;
	opacity: 0.75;
	border-radius: 5px 5px 5px 5px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.header-menu{
	padding:0.5em;
	font-size:1.1em;
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 3em;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    z-index: 1;
	right:1em;
}

.dpd-content {
	padding:1em;
	font-size:1.3em;
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 9em;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
    z-index: 1;
}
.bar-div{
	width: 14px;
    height: 2px;
    background-color: white;
    margin: 2.4px;
}

.navigation
{
	float: right;
	line-height: 56px;
}
.navigation .page-link {
	color: #111; 
	text-align: justify; 
	line-height: 1.5em; font-size:1.1em;font-weight:300; 
	margin-left: 20px;
}

.navigation .page-link:hover {
    color: #227c41;
	text-decoration: none;
}


.navigation ul
{
	text-align: justify; 
	font-size:1.1em;
	font-weight:300; 
	list-style:none;
	line-height:2em;
	margin-left:15px;
	margin-right:5px;
	margin-bottom:5px;
}

.navigation ul a
{
	color: #111; 
}

.navigation ul a:hover {
    color: #227c41;
	text-decoration: none;
}

.header-button
{
	position:relative;
	padding-top:1.09em;
	padding-bottom:1.15em;
	right:1em;
}


.header-button .bar-div{
    background-color: black;
	width: 20.02px;
    height: 2.86px;
    margin: 3.6px;
}

.citation
{
	list-style-type:none;
	line-height:150%;
}
.citation li
{
	
	text-indent:-2em;
	margin-bottom:1em;
}

.citation li a{
	color:#0b3a78;
}


.citation a:hover {
    color: #227c41;
	text-decoration: underline;
}

.home p{
	max-width:650px;
	margin:0 auto;
	margin-bottom:1em;
	line-height:180%;
	font-size:1em;
}

.normal{
    display: block;
}

.mobile
{
	display: none;
}

.wrapper { 
	max-width:-webkit-calc(900px - (30px * 2)); 
	max-width: calc(900px - (30px * 2)) ; 
	margin-right: auto; 
	margin-left: auto; 
	padding-right: 30px; 
	padding-left: 30px; 
	font-family: serifRoman,'Microsoft YaHei',"微软雅黑", 'STXihei', "华文细黑";
}


@media screen and (max-width: 600px) {

#des {
	display:none;
}
}

@media screen and (max-width: 800px) { 

.wrapper { 
	max-width: -webkit-calc(800px - (30px)); 
	max-width: calc(800px - (30px)); 
	padding-right: 15px; 
	padding-left: 15px; 
	}
	
.normal{
	display: none;
}

.mobile
{
	display: block;
}
}
   
   
@media screen and (max-width: 1050px) {

.dropbtn {
	opacity: 0.15;
}
	
	
.dropdown {
	top:6.5em;
	left:85%;
}	
	
.dpd-content {
	right:0;
}

}

   