<!DOCTYPE html>

{%- if page.landing == 'home' -%}
<html lang="{{ page.lang | default: site.lang | default: "cn" }}" class ='{{ page.landing }}'>
{%- else -%}
<html lang="{{ page.lang | default: site.lang | default: "cn" }}">
{%- endif -%}

<head>
    {% include head.html %}
    <title>{%- if page.cat -%}
          {{ page.cat | escape }}
        {%- else -%}
          {%- if page.title -%}{{ page.title | escape }}{%- else -%}{{ site.title | escape }}{%- endif -%}
        {%- endif -%}</title>
</head>

  {%- if page.landing != 'home' -%}
  {%- include header.html -%}
  {%- endif -%}
	<body>
      {%- if page.landing != 'home' -%}
      <main class="page-content" aria-label="Content">
      <div class="wrapper">
      {{ content }}
      </div>
      </main>
      {%- else -%}
      {{ content }}
      {%- endif -%}
	</body>

  {%- if page.layout == 'folder' or page.landing == 'dentgyr' or page.landing == 'hippo' -%}
  <script src="{{ site.baseurl }}/assets/lazysizes.min.js" async=""></script>
  {%- endif -%}

  {%- if page.landing != 'home' -%}
    {%- include footer.html -%}
  {%- endif -%}
  </html>
