---
layout: default
landing: dentgyr
title: 齿状回
---
{%- for category in site.categories -%}
  {%- if category[0] == page.cat -%}
  {%- assign categ = category -%}
{%- endif -%}
{%- endfor -%}

{%- if page.landing -%}
<img class='page-art' src='{{site.baseurl}}/assets/{{ page.landing }}.png'></img>
{%- endif -%}

<a class='page-heading-nav' href="{{ site.baseurl }}/dentgyr">齿状回</a><span class='page-heading-nav'> /</span>
<header class="post-header">
  <div class="post-title" itemprop="name headline">
    {{ categ[0] | escape }}
  </div>
  <span class="page-meta">共 {% if categ[1].size != 0 %}{{ categ[1].size }}{% else %}0{% endif %} 篇文章<span>
</header>
<div>


  {%- for post in categ[1] -%}
  {%- assign img_array = post.content | split: "<img" -%}
  {%- assign img_array = img_array[1] -%}
  {%- assign img_array = img_array | split: 'src="' -%}
  {%- assign img_array = img_array[1] -%}
  {%- assign img_array = img_array | strip_html -%}
  {%- assign img_array = img_array | split: '"' -%}
  {%- assign post_year = post.date | date: "%Y" -%}
  {%- assign post_month = post.date | date: "%-m" -%}
  <div class="container">
    {%- if post.cover -%}
    <img class='image-box' src='{{ post.cover }}'>
    {%- elsif img_array[0] -%}
    <img class='image-box' src='{{ img_array[0] }}'>
    {%- endif -%}

    <div class='post-info'>
    <a class="medium-font post-title" href="{{ post.url | relative_url }}">{%- if post.series_prefix -%} {{ post.series_prefix | append: ' · '}} {%- endif -%}
      {{ post.title }}</a>
    <div class='post-meta-button serif'><span>{{ post.date | date: "%Y/%m/%d" }}</span> </div>
    </div>

  </div>
{%- endfor -%}
