---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
		<!-- <div class="table-of-contents">
</div> -->

		<div class="page-heading" style="font-weight:300;margin-bottom:0.1em;">
			<a href="{{ site.baseurl }}/hippocampus" style="color:#828282;">海马体 /</a>

		</div>

		{% for post in site.posts %}
			{% if post.col_name == page.parent %}
			{% assign parent = post %}
		{% endif %}
		{% endfor %}

		<header class="multipage post-header">
			<div class="post-title" itemprop="name headline">
				{{ parent.title | escape }}
			</div>
			<div class="multipage post-meta">
				首发于 <time datetime="{{ parent.date | date_to_xmlschema }}" itemprop="datePublished">{{ parent.date | date: "%b %-d, %Y" }}</time>
				{% if parent.modified %}，最后修改于 {{ parent.modified | date: "%b %-d, %Y" }}{% endif %}
				{% if page.col_name %}	. 有分页：	{% endif %}
			</div>
		</header>

		  {% assign start = page.page_num | minus: 2 %}
		  {% assign end = page.page_num | plus: 2 %}

			{% assign total_number_pages = 1 %}

			{% for post in site.multipage %}
			{% if post.url contains parent.col_name %}
				{%	assign total_number_pages  = total_number_pages | plus: 1 %}
			{% endif %}
			{% endfor %}

		  {% if start < 1 %}
		    {% assign start = 1 %}
		    {% assign end = start | plus: 4 %}
		  {% elsif end > total_number_pages %}
		    {% assign start = total_number_pages | minus: 4 %}
		    {% assign end = page.page_num | plus: 1 %}
		  {% endif %}

		  {% if start < 1 %}
		    {% assign start = 1 %}
		  {% endif %}

		  {% if end > total_number_pages %}
		    {% assign end = total_number_pages %}
		  {% endif %}


					<div class="no-top-margin large-bottom-margin nav-box">
						{% if page.page_num != 2 %}
					    <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ page.page_num | minus: 1}}"><span class='arrow left'></span></a></div>
						{% else %}
							<div class='page-block'><a href="{{ site.baseurl }}{{ parent.url }}"><span class='arrow left'></span></a></div>
						{% endif %}

			      {% if start > 1 %}
			        <div class='page-block'><a href="{{ site.baseurl }}{{ parent.url }}">1</a></div>
			        <div class='fixed'><div class='no-color'>&middot;&middot;&middot;</div></div>
			      {% endif %}
			      {% for p in (start..end) %}
			        {% if p == page.page_num %}
			            <div class="fixed"><div class='fixed-text'>{{ p }}</div></div>
			        {% elsif p == 1 %}
			            <div class='page-block'><a href="{{ site.baseurl }}{{ parent.url }}">{{ p }}</a></div>
			        {% else %}
			            <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ p }}">{{ p }}</a></div>
			        {% endif %}
			      {% endfor %}

			      {% if end < total_number_pages %}
			        <div class='fixed'><div class='no-color'>&middot;&middot;&middot;</div></div>
			        <div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ total_number_pages }}">{{ total_number_pages }}</a></div>
			      {% endif %}

						{% if page.page_num < total_number_pages %}
							<div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ page.page_num | plus: 1}}"><span class='arrow right'></span></a></div>
						{% endif %}
					</div>

		<div class="maintext" itemprop="articleBody">
		{{ content }}
				</div>
				<div class="large-top-margin no-bottom-margin nav-box">
					{% if page.page_num != 2 %}
						<div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ page.page_num | minus: 1}}"><span class='arrow left'></span></a></div>
					{% else %}
						<div class='page-block'><a href="{{ site.baseurl }}{{ parent.url }}"><span class='arrow left'></span></a></div>
					{% endif %}

					{% if start > 1 %}
						<div class='page-block'><a href="{{ site.baseurl }}{{ parent.url }}">1</a></div>
						<div class='fixed'><div class='no-color'>&middot;&middot;&middot;</div></div>
					{% endif %}
					{% for p in (start..end) %}
						{% if p == page.page_num %}
								<div class="fixed"><div class='fixed-text'>{{ p }}</div></div>
						{% elsif p == 1 %}
								<div class='page-block'><a href="{{ site.baseurl }}{{ parent.url }}">{{ p }}</a></div>
						{% else %}
								<div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ p }}">{{ p }}</a></div>
						{% endif %}
					{% endfor %}

					{% if end < total_number_pages %}
						<div class='fixed'><div class='no-color'>&middot;&middot;&middot;</div></div>
						<div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ total_number_pages }}">{{ total_number_pages }}</a></div>
					{% endif %}

					{% if page.page_num < total_number_pages %}
						<div class='page-block'><a href="{{ site.baseurl }}/multipage/{{parent.col_name}}/p{{ page.page_num | plus: 1}}"><span class='arrow right'></span></a></div>
					{% endif %}
				</div>






{% if parent.toc != 'no' %}
 	{% include toc.html %}
{% endif %}

{% if parent.math == "yes" %}
 	{% include math.html %}
{% endif %}

{% if parent.gallery == 'yes' %}
	{% include lazyload.html %}
{% endif %}

    {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
	</article>

</body>
