{%- if page.parent -%}
	{%- assign page_number = page.slug | plus: 0 -%}
	{%- for post in site.posts -%}
  	{%- if post.slug == page.parent -%}
  		{%- assign parent_post = post -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}
	{%- assign collection_name = parent_post.slug -%}
	{%- assign page_category = parent_post.category -%}
{%- elsif page.multipage -%}
	{%- assign page_number = 1 -%}
	{%- assign parent_post = page -%}
	{%- assign collection_name = page.slug -%}
	{%- assign page_category = page.category -%}
{%- else  -%}
	{%- assign parent_post = page -%}
	{%- assign page_category = page.category -%}
{%- endif -%}

<!DOCTYPE html>
{%- if page.landing == 'home' -%}
<html lang="{{ page.lang | default: site.lang | default: "cn" }}" class ='{{ page.landing }}'>
{%- else -%}
<html lang="{{ page.lang | default: site.lang | default: "cn" }}">
{%- endif -%}

<head>
	{%- include head.html -%}
    <title>
      {%- if parent_post.title %}{{ parent_post.title | escape }}{%- else -%}{{ site.title | escape }}{%- endif -%}
    </title>
</head>

{%- if parent_post.content contains '</h1>' -%}
	{%- assign toc_setting = true -%}
{%- endif -%}
{%- if content contains '$$' or page.math == 1 -%}
	{%- assign math_setting = true -%}
{%- endif -%}
{%- if content contains '<img' -%}
	{%- assign img_setting = true -%}
{%- endif -%}


{%- assign collection = site.multipage | where: 'parent', collection_name -%}
{%- assign total_number_pages = collection.size  | plus: 1 -%}

{% include header.html %}

<main class="page-content" aria-label="Content">
<div class="wrapper">
	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
		<header class="small-bottom-margin post-header">
			<a class='page-heading-nav' href="{{ site.baseurl }}/hippocampus">海马体</a><span class='page-heading-nav'> /</span>
			<div class="post-title" itemprop="name headline">
	     {%- if parent_post.series_prefix -%}
					{%- assign full_title = parent_post.series_prefix | append: ' · ' | append:  parent_post.title | escape -%}
			 {%- else -%}
				 {%- assign full_title = parent_post.title | escape -%}
			 {%- endif -%}
				{{ full_title }}
			</div>
			{%- include post_meta_logic.html -%}
			</header>
	<body>



			{%- if page != parent_post -%}
				{%- assign h_temp = parent_post.content | split: '</h1>' | size | minus: 1 -%}
				{%- assign h_acc = h_temp -%}
				{%- assign index = 2 -%}
				{%- for multip in collection -%}
					{% if index < page_number %}
						{%- assign h_temp = multip.content | split: '</h1>' | size | minus: 1 -%}
						{%- assign h_acc = h_acc | plus: h_temp -%}
						{%- assign index = index | plus: 1 -%}
					{%- else -%}
						{%- break -%}
					{% endif %}
				{%- endfor -%}
				<div style='counter-reset: h1counter {{ h_acc }}'></div>
			{%- endif -%}

			{%- if toc_setting -%}
				{%- include toc_logic.html -%}
			{%- endif -%}

		{%- assign start = page_number | minus: 2 -%}
		{%- assign end = page_number | plus: 2 -%}
		{%- if page.parent or page.multipage -%}
			{%- if start < 1 -%}
				{%- assign start = 1 -%}
				{%- assign end = start | plus: 4 -%}
			{%- elsif end > total_number_pages -%}
				{%- assign start = total_number_pages | minus: 4 -%}
				{%- assign end = total_number_pages -%}
			{%- endif -%}
		{%- if start < 1 -%}
			{%- assign start = 1 -%}
		{%- endif -%}
		{%- if end > total_number_pages -%}
			{%- assign end = total_number_pages -%}
		{%- endif -%}


		<div class="large-bottom-margin page-block-collection">
		{%- include post_pagination_logic.html -%}
		</div>
		{%- endif -%}

	<div class="post-text" itemprop="articleBody">
	 	{%- assign cont = content -%}
		{%- if toc_setting -%}
			{%- include anchor_injection.html html=cont -%}
		{%- endif -%}
		{%- if math_setting -%}
			{%- include theorem_injection.html html=cont -%}
		{%- endif -%}
		{%- if img_setting -%}
			{%- include modal_injection.html html=cont -%}
		{%- endif -%}
		{{ cont }}
	</div>

	{%- if page.parent or page.multipage -%}
	<div class="very-large-top-margin large-bottom-margin page-block-collection">
	{%- include post_pagination_logic.html -%}
	</div>
	{%- endif -%}

	{%- if page.parent or page.multipage -%}
	<div class = 'large-top-margin nav-box'>
	{%- else -%}
	<div class = 'very-large-top-margin nav-box'>
	{%- endif -%}

	{%- if parent_post.previous.url -%}
	<a class="prev small-font prev-next-button" href="{{ site.baseurl }}/{{page.previous.url}}">
	&#10094; {{parent_post.previous.title}}
	</a>
	{%- endif -%}

	{%- if parent_post.next.url -%}
	<a class="next small-font prev-next-button" href="{{ site.baseurl }}/{{page.next.url}}">
	{{parent_post.next.title}} &#10095;
	</a>
	{%- endif -%}
	</div>


	{%- if toc_setting -%}
		{%- include toc_toggle.html -%}
	{%- endif -%}

	{%- if math_setting -%}
	 	{%- include math.html -%}
	{%- endif -%}

	{% if img_setting %}
		{%- include lazyload.html -%}
	{%- endif -%}

	 {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%- endif -%}
	</body>


		</article>
</div>
</main>

 {% include footer.html %}
