---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<!-- <div class="table-of-contents">
</div> -->

<div class="page-heading" style="font-weight:300;"> 文章 / </div>
  <header class="post-header">
	<div class="post-title" itemprop="name headline">{{ page.title | escape }}</div>
    <div class="post-meta">本文首发于 <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}
	</time>
  </div>
  </header>
  
 

 <div class="dropdown">
  <button onclick="toggleToc()" class="dropbtn" id="tg-button"><div class="bar-div"></div><div class="bar-div"></div><div class="bar-div"></div></button>
  <div class="dpd-content" id="tg-menu">
   <div id="toc">  </div>
  </div>
  </div>

  <div class="maintext" itemprop="articleBody">
    {{ content }}
  </div>
  
<script>
var h1c = document.getElementsByClassName("hd");
var str = "";
var ifnested = false;
for (i=0;i<h1c.length;i++)
{

if(ifnested)
{
if(h1c[i].tagName==="H1")
  {
  ifnested=false;
  str+="<div class=\"toch1\">"+"<a href=\"#"+h1c[i].innerHTML+"\">"+h1c[i].innerHTML+"</a>"+"</div>";
  }
else
  {
  str+="<div class=\"toch2\">"+"<a href=\"#"+h1c[i].innerHTML+"\">"+h1c[i].innerHTML+"</a>"+"</div>";
  }
}

else
{
if(h1c[i].tagName==="H1")
  {
  str+="<div class=\"toch1\">"+"<a href=\"#"+h1c[i].innerHTML+"\">"+h1c[i].innerHTML+"</a>"+"</div>";
  }
else
  {
  ifnested=true;
  str+="<div class=\"toch2\">"+"<a href=\"#"+h1c[i].innerHTML+"\">"+h1c[i].innerHTML+"</a>"+"</div>";
  }
}

}

if(str===""){document.getElementById("toc").innerHTML ="<div style=\"font-size: 0.8em;\">（本文没有内部分节）</div>";}
else{document.getElementById("toc").innerHTML =str;}
</script>
<script>
function toggleToc()
{
if (window.innerWidth < 1000) {
var tgButton=document.getElementById('tg-button');
var tgMenu=document.getElementById('tg-menu');
    if (tgMenu.style.display === 'block') {
        tgMenu.style.display = 'none';
		tgButton.style.opacity = 0.15;
    } else {
        tgMenu.style.display = 'block';
		tgButton.style.opacity = 1;
    }
}
}
</script>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
